<h1>Add site</h1>
<p>Write the site address in the form below and click add. Please click only once, it takes a while to collect the site information</p>

<form id="add_form" action="index.php" method="post">
    <input type="hidden" name="module" value="sites" />
    <input type="hidden" name="part" value="add" />
    <input type="hidden" name="user_id" value="{USER_ID}" />
    <input type="text" placeholder="http://" name="site_url" />
    <input type="submit" value="Add site" name="add_site"  />
    <!--<button onclick="add_site()">Add site</button> -->
</form>

<p class="message">&nbsp;</p>