<li class="site_list_item">
    <p class="site_title"><a href="{SITE_URL}" onclick="count({SITE_ID})" target="_blank">{SITE_TITLE}</a></p>
    <div class="screenshot">
        <a href="{SITE_URL}" onclick="count({SITE_ID})" target="_blank">{SITE_SCREEN}</a>
    </div>
    <div class="info">
        <p>{SITE_DESC}</p>
        <p class="extra">Added on: {SITE_DATE}</p>
        <p class="extra">Visited: {SITE_VISITS} times</p>
        <p class="clear">&nbsp;</p>
    </div>
    <div class="clear">&nbsp;</div>
</li>
<li class="separator">
    <hr />
</li>