<h2>Welcome</h2>
    <p>Welcome to Fancentr.org, your newest fansite directory. While we are still under construction, most of our features are now working including registrations and adding sites to the database. We accept all fansites about any topic from any host, which is what makes us stand out from the others. You, as the owner of a fansite, do not need to add a link back to us, although we would appreciate it if you did.</p>
    <p>We hope to see you around!</p>
    <p>The Fancentr.org team</p> 
